body{
    background-color: blue;
}

.layout{
    background-color: lightgrey;
    height: 570px;
}


.logo{
    background-color: chartreuse;
    margin-bottom: auto;
    
}

.navegacao{
    float: left;
    margin-left: 90px;
}

.frase{
    background-color: aqua;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: blueviolet;
    font-size: 34px;
    padding-top: 40px;
    padding-bottom: 40px;
    
}


